.title {
    font-size: 100px !important;
}

#login {
    width: 20rem;
    position: relative;
    margin: 0 auto;
}

/* Make login button circular */
#login-btn {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    font-size: 24px;
    font-weight: bold;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background-color: #fff;
    z-index: 200;
  }
  .overlay:hover {
    display: block;
    opacity: 0.5;
  }