body {
    background: #000;
    position: absolute;
    width: 100%;
    height: 100%;
}

.hero-body {
    padding: 0 1.5rem;
}
#option-2_image {
    width: 100%;
    border: 10px hsl(171, 100%, 41%)solid;
    margin-bottom: 20vh;
}
#option-1_image {
    width: 100%;
    border: 10px hsl(171, 100%, 41%) solid;
    margin-bottom: 20vh;
}
#login {
    width: 20rem;
    position: relative;
    margin: 0 auto;
}

/* Make login button circular */
#login-btn, #answer-btn, #nasa-btn {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 24px;
    font-weight: bold;
}

#title {
    font-size: 100px;
}

.audio-wrapper {
    text-align: center;
    width: 100%;
}

.audio {
    width: 100%;
    height: 30px;
}

.border {
    border: 2px solid #fff;
}

.grayscale{ 
    border: 1px solid black;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);  /* For Webkit browsers */
    filter: gray;  /* For IE 6 - 9 */
    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
  }
  
.grayscale:hover { 
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      filter: none;
      /*TODO: My cursor hover over rocket ship needs help */
      /* cursor: url(../images/rocket-burn.png), auto; */
      cursor: pointer;
}

.page-footer {
    background: #f5f5f5;
    color: #333;
    position: relative;
    padding: 15px;
    height: 100px;
    width: 100%;
    bottom: 0;
}

/* LANDING PAGE */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
 
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}

/* @keyframes spin-galaxy {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-webkit-keyframes spin-galaxy {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-moz-keyframes spin-galaxy {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

@-ms-keyframes spin-galaxy {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
} */

.stars, .twinkling {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}

.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
}
 
.twinkling {
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:0;
    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}

/* .galaxy {
    z-index:0;
    background: transparent url(/assets/images/galaxy.png) no-repeat;
    -moz-animation:move-clouds-back 500s linear infinite;
    -ms-animation:move-clouds-back 500s linear infinite;
    -o-animation:move-clouds-back 500s linear infinite;
    -webkit-animation:move-clouds-back 500s linear infinite;
    animation:move-clouds-back 500s linear infinite;
} */

/* .galaxy {
    z-index:0;
    background: transparent url(http://www.hansenpartnership.com/collab2014/spiral-galaxy.png) no-repeat;
    -moz-animation:spin-galaxy 300s linear infinite;
    -ms-animation:spin-galaxy 300s linear infinite;
    -o-animation:spin-galaxy 300s linear infinite;
    -webkit-animation:spin-galaxy 300s linear infinite;
    animation:spin-galaxy 300s linear infinite;
} */

/* PROGRESS BAR */
#rocket {
    height:auto;
    width:5vw;
    position: absolute;
    z-index:10;
    margin-top: 2.5%;
    margin-left: 7vw;
}

.planetImage {
    position: absolute;
    float: left;
}

#sun {
    width: 10vw;
    height: auto;
    margin-left: 0vw;
}

#mercury {
    width: 3vw;
    height: auto;
    margin-top: 3.5%;
    margin-left: 15vw;
}

#venus {
    width: 5vw;
    height: auto;
    margin-top: 2.5%;
    margin-left: 23vw;
}
#earth {
    width: 5vw;
    height: auto;
    margin-top: 2.5%;
    margin-left: 33vw;
}

#mars {
    width: 4vw;
    height: auto;
    margin-top: 3%;
    margin-left: 43vw;
}

#jupiter {
    width: 8vw;
    height: auto;
    margin-top: 1%;
    margin-left: 52vw;
}

#saturn {
    width: 6vw;
    height: auto;
    margin-top: 1.9%;
    margin-left: 65vw;
}

#uranus {
    width: 6vw;
    height: auto;
    margin-top: 1.9%;
    margin-left: 76vw;
}

#neptune {
    width: 6vw;
    height: auto;
    margin-top: 1.9%;
    margin-left: 87vw;
}

#kuiper {
    position: relative;
    width: 5vw;
    height: 9vw;
    margin-top: 0;
    margin-left: 95vw;
}

.progress-bar {
    width: 100%;
    height: 11vw;
    background-color: black;
}

/* Animations for Gameover.html */

#gameover-earth {
    margin-left: 70vw;
    position: absolute;
    height: auto;
    width: 20vw;
    margin-top: 30vw
}

.gameover-rocket {
    position:absolute;
    height:auto;
    width:10vw;
    z-index:10;
}

#rocket-div {
    position:absolute;
    height:10vh;
    width:10vw;
    z-index:8;
}
#landing-box {
    position:absolute;
    height:10vh;
    width:10vw;
    z-index:9;
}

/* All animations below generated with Bounce.js. Edit at https://goo.gl/HQ2JuX */
.animation-fly {
animation: animation-fly 3000ms linear both;

}
@keyframes animation-fly { 
0% { transform: translatex(0vw) }
9% {  transform: translatex(8vw)}
18% { transform: translatex(16vw) }
27% { transform: translatex(24vw) }
36% { transform: translatex(32vw) }
45% { transform: translatex(40vw)}
55% { transform: translatex(48vw) }
70% {  transform: translatex(56vw) }
85% { transform: translatex(64vw)}
100% { transform: translatex(75vw) } 
}

.animation-land {
animation: animation-land 3000ms linear both;
animation-delay: 3500ms
}
@keyframes animation-land { 
0% { transform: translatey(0vw) }
9% {  transform: translatey(2.5vw)}
18% { transform: translatey(5vw) }
27% { transform: translatey(7.5vw) }
36% { transform: translatey(10vw) }
45% { transform: translatey(12.5vw)}
55% { transform: translatey(15vw) }
70% {  transform: translatey(18.5vw) }
85% { transform: translatey(22vw)}
100% { transform: translatey(25vw) } 
}


.animation-twist{
animation: animation-twist 2000ms linear both;
animation-delay: 3000ms
}

@keyframes animation-twist { 
0% { -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
3.2% { -webkit-transform: matrix3d(0.91, -0.415, 0, 0, 0.415, 0.91, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.91, -0.415, 0, 0, 0.415, 0.91, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
6.31% { -webkit-transform: matrix3d(0.743, -0.67, 0, 0, 0.67, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.743, -0.67, 0, 0, 0.67, 0.743, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
12.51% { -webkit-transform: matrix3d(0.432, -0.902, 0, 0, 0.902, 0.432, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.432, -0.902, 0, 0, 0.902, 0.432, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
18.82% { -webkit-transform: matrix3d(0.231, -0.973, 0, 0, 0.973, 0.231, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.231, -0.973, 0, 0, 0.973, 0.231, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
25.03% { -webkit-transform: matrix3d(0.122, -0.993, 0, 0, 0.993, 0.122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.122, -0.993, 0, 0, 0.993, 0.122, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
37.54% { -webkit-transform: matrix3d(0.032, -0.999, 0, 0, 0.999, 0.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.032, -0.999, 0, 0, 0.999, 0.032, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
50.05% { -webkit-transform: matrix3d(0.008, -1, 0, 0, 1, 0.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0.008, -1, 0, 0, 1, 0.008, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
100% { -webkit-transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform: matrix3d(0, -1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
}


/* All animations below generated with Bounce.js. Edit at https://goo.gl/HQ2JuX */

.animation1 {
animation: animation 6000ms linear both;
}
@keyframes animation { 
0% { transform: translatex(0vw) }
4.3% {  transform: translatex(3.78vw)}
8.61% { transform: translatex(7.74vw) }
12.91% { transform: translatex(9.54vw) }
17.22% { transform: translatex(9.99vw) }
28.33% { transform: translatex(9.18vw)}
39.44% { transform: translatex(8.93vw) }
61.66% {  transform: translatex(8.97vw) }
83.98% { transform: translatex(8.92vw)}
100% { transform: translatex(9vw)  } 
}
.animation2 {
animation: animation2 6000ms linear both;
}
@keyframes animation2 { 
0% { transform: translatex(9vw) }
4.3% {  transform: translatex(13.28vw)}
8.61% { transform: translatex(17.24vw) }
12.91% { transform: translatex(19.04vw) }
17.22% { transform: translatex(19.49vw) }
28.33% { transform: translatex(18.68vw)}
39.44% { transform: translatex(18.43vw) }
61.66% {  transform: translatex(18.47vw) }
83.98% { transform: translatex(18.42vw)}
100% { transform: translatex(18.5vw)  } 
}
.animation3 {
animation: animation3 6000ms linear both;
}
@keyframes animation3 { 
0% { transform: translatex(18.5vw) }
4.3% {  transform: translatex(23.78vw)}
8.61% { transform: translatex(27.74vw) }
12.91% { transform: translatex(29.54vw) }
17.22% { transform: translatex(29.59vw) }
28.33% { transform: translatex(29.18vw)}
39.44% { transform: translatex(28.93vw) }
61.66% {  transform: translatex(28.97vw) }
83.98% { transform: translatex(28.92vw)}
100% { transform: translatex(29vw)  } 
}
.animation4 {
animation: animation4 6000ms linear both;
}
@keyframes animation4 { 
0% { transform: translatex(29vw) }
4.3% {  transform: translatex(32.78vw)}
8.61% { transform: translatex(35.74vw) }
12.91% { transform: translatex(38.54vw) }
17.22% { transform: translatex(38.59vw) }
28.33% { transform: translatex(38.18vw)}
39.44% { transform: translatex(37.93vw) }
61.66% {  transform: translatex(37.97vw) }
83.98% { transform: translatex(37.92vw)}
100% { transform: translatex(38vw)  } 
}
.animation5 {
animation: animation5 6000ms linear both;
}
@keyframes animation5 { 
0% { transform: translatex(38vw) }
4.3% {  transform: translatex(45.28vw)}
8.61% { transform: translatex(48.24vw) }
12.91% { transform: translatex(50.04vw) }
17.22% { transform: translatex(51.09vw) }
28.33% { transform: translatex(50.68vw)}
39.44% { transform: translatex(50.43vw) }
61.66% {  transform: translatex(50.47vw) }
83.98% { transform: translatex(50.42vw)}
100% { transform: translatex(50.5vw)  } 
}
.animation6 {
animation: animation6 6000ms linear both;
}
@keyframes animation6 { 
0% { transform: translatex(50.5vw) }
4.3% {  transform: translatex(56.28vw)}
8.61% { transform: translatex(59.24vw) }
12.91% { transform: translatex(61.04vw) }
17.22% { transform: translatex(62.09vw) }
28.33% { transform: translatex(61.68vw)}
39.44% { transform: translatex(61.43vw) }
61.66% {  transform: translatex(61.47vw) }
83.98% { transform: translatex(61.42vw)}
100% { transform: translatex(61.5vw)  } 
}
.animation7 {
animation: animation7 6000ms linear both;
}
@keyframes animation7 { 
0% { transform: translatex(61.5vw) }
4.3% {  transform: translatex(67.28vw)}
8.61% { transform: translatex(70.24vw) }
12.91% { transform: translatex(72.04vw) }
17.22% { transform: translatex(73.09vw) }
28.33% { transform: translatex(72.68vw)}
39.44% { transform: translatex(72.43vw) }
61.66% {  transform: translatex(72.47vw) }
83.98% { transform: translatex(72.42vw)}
100% { transform: translatex(72.5vw)  } 
}
.animation8 {
animation: animation8 6000ms linear both;
}
@keyframes animation8 { 
0% { transform: translatex(72.5vw) }
4.3% {  transform: translatex(78.28vw)}
8.61% { transform: translatex(81.24vw) }
12.91% { transform: translatex(83.04vw) }
17.22% { transform: translatex(84.09vw) }
28.33% { transform: translatex(83.68vw)}
39.44% { transform: translatex(83.43vw) }
61.66% {  transform: translatex(83.47vw) }
83.98% { transform: translatex(83.42vw)}
100% { transform: translatex(83.5vw)  } 
}
.animation9 {
animation: animation9 6000ms linear both;
}
@keyframes animation9 { 
0% { transform: translatex(83.5vw) }
4.3% {  transform: translatex(84.28vw)}
8.61% { transform: translatex(87.24vw) }
12.91% { transform: translatex(89.04vw) }
17.22% { transform: translatex(90.09vw) }
28.33% { transform: translatex(89.68vw)}
39.44% { transform: translatex(89.43vw) }
61.66% {  transform: translatex(89.47vw) }
83.98% { transform: translatex(89.42vw)}
100% { transform: translatex(89.5vw)  } 
}
