#login {
    width: 20rem;
    position: relative;
    margin: 0 auto;
}

/* Make login button circular */
#login-btn {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    font-size: 24px;
    font-weight: bold;
}

/* #landing-page_image {
    max-width: 90%;
} */

#title {
    font-size: 100px;
}

.image-wrapper {
    width: 100%;
}

.audio-wrapper {
    text-align: center;
    width: 100%;
}

.audio {
    width: 100%;
    height: 30px;
}

.border {
    border: 2px solid #fff;
}

.grayscale{ 
    border: 1px solid black;
      filter: grayscale(100%);
      -webkit-filter: grayscale(100%);  /* For Webkit browsers */
      filter: gray;  /* For IE 6 - 9 */
      -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */
  }
  
.grayscale:hover { 
      filter: grayscale(0%);
      -webkit-filter: grayscale(0%);
      filter: none;
      /* My cursor hover over rocket ship needs help */
      /* cursor: url(../images/rocket-burn.png), auto; */
      cursor: pointer;
}

footer {
    z-index: 100;
}

/* LANDING PAGE */
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
 
@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
}

@-ms-keyframes move-clouds-back {
    from {background-position: 0;}
    to {background-position:10000px 0;}
}
 
.stars, .twinkling, .clouds {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    width:100%;
    height:100%;
    display:block;
}
 
.stars {
    background:#000 url(http://www.script-tutorials.com/demos/360/images/stars.png) repeat top center;
    z-index:0;
}
 
.twinkling {
    background:transparent url(http://www.script-tutorials.com/demos/360/images/twinkling.png) repeat top center;
    z-index:0;

    -moz-animation:move-twink-back 200s linear infinite;
    -ms-animation:move-twink-back 200s linear infinite;
    -o-animation:move-twink-back 200s linear infinite;
    -webkit-animation:move-twink-back 200s linear infinite;
    animation:move-twink-back 200s linear infinite;
}
 
.clouds {
    background:transparent url(http://www.script-tutorials.com/demos/360/images/clouds3.png) repeat top center;
    z-index:0;

    -moz-animation:move-clouds-back 200s linear infinite;
    -ms-animation:move-clouds-back 200s linear infinite;
    -o-animation:move-clouds-back 200s linear infinite;
    -webkit-animation:move-clouds-back 200s linear infinite;
    animation:move-clouds-back 200s linear infinite;
}

/* PROGRESS BAR */
#rocket {
    height:auto;
    width:5vw;
    position: absolute;
    z-index:10;
    margin-top: 2.5%;
    margin-left: 7vw;
}

.planetImage {
    position: absolute;
    float: left;
}

#sun {
    width: 10vw;
    height: auto;
    margin-left: 0vw;
}

#mercury {
    width: 3vw;
    height: auto;
    margin-top: 3.5%;
    margin-left: 15vw;
}

#venus {
    width: 5vw;
    height: auto;
    margin-top: 2.5%;
    margin-left: 23vw;
}
#earth {
    width: 5vw;
    height: auto;
    margin-top: 2.5%;
    margin-left: 33vw;
}

#mars {
    width: 4vw;
    height: auto;
    margin-top: 3%;
    margin-left: 43vw;
}

#jupiter {
    width: 8vw;
    height: auto;
    margin-top: 1%;
    margin-left: 52vw;
}

#saturn {
    width: 6vw;
    height: auto;
    margin-top: 1.9%;
    margin-left: 65vw;
}

#uranus {
    width: 6vw;
    height: auto;
    margin-top: 1.9%;
    margin-left: 76vw;
}

#neptune {
    width: 6vw;
    height: auto;
    margin-top: 1.9%;
    margin-left: 87vw;
}

#kuiper {
    position: relative;
    width: 5vw;
    height: 9vw;
    margin-top: 0;
    margin-left: 95vw;
}

.progress-bar {
    width: 100%;
    height: 11vw;
    background-color: black;
}

/* All animations below generated with Bounce.js. Edit at https://goo.gl/HQ2JuX */

.animation1 {
animation: animation 6000ms linear both;
}
@keyframes animation { 
0% { transform: translatex(0vw) }
4.3% {  transform: translatex(3.78vw)}
8.61% { transform: translatex(7.74vw) }
12.91% { transform: translatex(9.54vw) }
17.22% { transform: translatex(9.99vw) }
28.33% { transform: translatex(9.18vw)}
39.44% { transform: translatex(8.93vw) }
61.66% {  transform: translatex(8.97vw) }
83.98% { transform: translatex(8.92vw)}
100% { transform: translatex(9vw)  } 
}
.animation2 {
animation: animation2 6000ms linear both;
}
@keyframes animation2 { 
0% { transform: translatex(9vw) }
4.3% {  transform: translatex(13.28vw)}
8.61% { transform: translatex(17.24vw) }
12.91% { transform: translatex(19.04vw) }
17.22% { transform: translatex(19.49vw) }
28.33% { transform: translatex(18.68vw)}
39.44% { transform: translatex(18.43vw) }
61.66% {  transform: translatex(18.47vw) }
83.98% { transform: translatex(18.42vw)}
100% { transform: translatex(18.5vw)  } 
}
.animation3 {
animation: animation3 6000ms linear both;
}
@keyframes animation3 { 
0% { transform: translatex(18.5vw) }
4.3% {  transform: translatex(23.78vw)}
8.61% { transform: translatex(27.74vw) }
12.91% { transform: translatex(29.54vw) }
17.22% { transform: translatex(29.59vw) }
28.33% { transform: translatex(29.18vw)}
39.44% { transform: translatex(28.93vw) }
61.66% {  transform: translatex(28.97vw) }
83.98% { transform: translatex(28.92vw)}
100% { transform: translatex(29vw)  } 
}
.animation4 {
animation: animation4 6000ms linear both;
}
@keyframes animation4 { 
0% { transform: translatex(29vw) }
4.3% {  transform: translatex(32.78vw)}
8.61% { transform: translatex(35.74vw) }
12.91% { transform: translatex(38.54vw) }
17.22% { transform: translatex(38.59vw) }
28.33% { transform: translatex(38.18vw)}
39.44% { transform: translatex(37.93vw) }
61.66% {  transform: translatex(37.97vw) }
83.98% { transform: translatex(37.92vw)}
100% { transform: translatex(38vw)  } 
}
.animation5 {
animation: animation5 6000ms linear both;
}
@keyframes animation5 { 
0% { transform: translatex(38vw) }
4.3% {  transform: translatex(45.28vw)}
8.61% { transform: translatex(48.24vw) }
12.91% { transform: translatex(50.04vw) }
17.22% { transform: translatex(51.09vw) }
28.33% { transform: translatex(50.68vw)}
39.44% { transform: translatex(50.43vw) }
61.66% {  transform: translatex(50.47vw) }
83.98% { transform: translatex(50.42vw)}
100% { transform: translatex(50.5vw)  } 
}
.animation6 {
animation: animation6 6000ms linear both;
}
@keyframes animation6 { 
0% { transform: translatex(50.5vw) }
4.3% {  transform: translatex(56.28vw)}
8.61% { transform: translatex(59.24vw) }
12.91% { transform: translatex(61.04vw) }
17.22% { transform: translatex(62.09vw) }
28.33% { transform: translatex(61.68vw)}
39.44% { transform: translatex(61.43vw) }
61.66% {  transform: translatex(61.47vw) }
83.98% { transform: translatex(61.42vw)}
100% { transform: translatex(61.5vw)  } 
}
.animation7 {
animation: animation7 6000ms linear both;
}
@keyframes animation7 { 
0% { transform: translatex(61.5vw) }
4.3% {  transform: translatex(67.28vw)}
8.61% { transform: translatex(70.24vw) }
12.91% { transform: translatex(72.04vw) }
17.22% { transform: translatex(73.09vw) }
28.33% { transform: translatex(72.68vw)}
39.44% { transform: translatex(72.43vw) }
61.66% {  transform: translatex(72.47vw) }
83.98% { transform: translatex(72.42vw)}
100% { transform: translatex(72.5vw)  } 
}
.animation8 {
animation: animation8 6000ms linear both;
}
@keyframes animation8 { 
0% { transform: translatex(72.5vw) }
4.3% {  transform: translatex(78.28vw)}
8.61% { transform: translatex(81.24vw) }
12.91% { transform: translatex(83.04vw) }
17.22% { transform: translatex(84.09vw) }
28.33% { transform: translatex(83.68vw)}
39.44% { transform: translatex(83.43vw) }
61.66% {  transform: translatex(83.47vw) }
83.98% { transform: translatex(83.42vw)}
100% { transform: translatex(83.5vw)  } 
}
.animation9 {
animation: animation9 6000ms linear both;
}
@keyframes animation9 { 
0% { transform: translatex(83.5vw) }
4.3% {  transform: translatex(84.28vw)}
8.61% { transform: translatex(87.24vw) }
12.91% { transform: translatex(89.04vw) }
17.22% { transform: translatex(90.09vw) }
28.33% { transform: translatex(89.68vw)}
39.44% { transform: translatex(89.43vw) }
61.66% {  transform: translatex(89.47vw) }
83.98% { transform: translatex(89.42vw)}
100% { transform: translatex(89.5vw)  } 
}

